.about {
  margin-top: 5em;
  text-align: center;
}

.about img {
  width: 400px;
}

.about p {
  margin: 2em;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons button {
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px;
  width: 250px;
  cursor: pointer;
  background-color: #0d1a33;
  color: white;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #283c66;
}

.buttons button img {
  width: 16px;
  margin-right: 5px;
  color: white;
}

@media screen and (max-width: 877px) {
  .about img {
    width: 350px;
  }

  .matheus_button img {
    width: 16px;
  }
}
