.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.img {
  max-width: 500px;
  width: 100%;
  max-height: 500px;
  min-height: auto;
  padding-right: 5em;
  margin-right: 5em;
  border-right: 2px solid #0d1a33;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 2em;
}

.form h2 {
  color: #0d1a33;
  text-align: center;
  margin-bottom: 1em;
}

.error {
  color: red;
  margin-bottom: 1em;
  text-align: center;
}

.form input {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #ecf0f1;
}

.labelInput {
  background-color: #ecf0f1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 8px;
}

.icon,
.showPasswordBtn {
  padding: 0 10px;
  color: #0d1a33;
}

.showPasswordBtn {
  border: none;
}

.btn {
  background-color: #0d1a33;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 10em;
  margin-left: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #283c66;
}

/* Design Responsivo */
@media screen and (max-width: 1250px) {
  .img {
    width: 400px;
    padding: 0;
    margin: 2em;
  }

  .form {
    width: 100%;
  }
}

@media screen and (max-width: 877px) {
  .img {
    display: none;
  }

  .form {
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .form {
    width: 90%;
  }
}
