.cards {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

@media screen and (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
