.error_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  color: rgb(235, 44, 44);
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0;
  width: 50%;
  padding: 10px;
  border: 1px solid red;
  background-color: #ffe6e6;
  border-radius: 5px;
}

.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.spinner {
  width: 70px;
}

.cards {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

@media screen and (max-width: 1000px) {
  .errorMessage {
    font-size: 1.2em;
    width: 90%;
    margin: 5px 0;
  }
  .cards {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
