.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 0.5em;
}

.input {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: none;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  height: 36px;
}

.input:hover {
  background-color: #cfd3d4;
}

.input:focus {
  border: 2px solid #0d1a33;
  outline: none;
  background-color: #ffffff;
  color: #0d1a33;
}

.button {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: none;
  background-color: #0d1a33;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
    background-color:  #1e3051;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .filter{
        flex-direction: column;
    }
    .buttons{
        margin-top: 5px;
    }
  }